{% extends 'default.html.twig' %}

{% block content %}

<div class="col-lg-12">
    {% for item in pager %}
        <tr>
            <td class="text-center">{{ item.nominal }}</td>
            <td class="text-center">{{ item.value }}</td>
        </tr>
    {% endfor %}
</div>
{% endblock %}
