<nav class="navbar navbar-expand-lg @@classList">
  @@if(type=="boxed"){<div class="container">}

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarLandings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Landings
          </a>
          <div class="dropdown-menu dropdown-menu-lg p-lg-0" aria-labelledby="navbarLandings">
            <div class="row mx-lg-0">
              <div class="col-12 col-lg-6 p-lg-7 d-none d-lg-flex flex-column justify-content-center overlay overlay-primary overlay-80 bg-cover rounded-left" style="background-image: url(@@webRoot/assets/img/photos/photo-3.jpg);">
                <div class="position-relative text-center text-white">

                  <!-- Heading -->
                  <h4 class="font-weight-bold mb-0">
                    Want to see an overview?
                  </h4>

                  <!-- Text -->
                  <p class="font-size-sm">
                    See all the pages at once.
                  </p>

                  <!-- Button -->
                  <a href="overview.html" class="btn btn-sm btn-white shadow-dark font-size-sm">
                    View all pages
                  </a>
                  
                </div>
              </div>
              <div class="col-12 col-lg-6 p-lg-7">
                <div class="row no-gutters">
                  <div class="col-6">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-primary">
                      Services
                    </h6>

                    <!-- List -->
                    <ul class="list mb-5">
                      <li class="list-item">
                        <a class="list-link" href="@@webRoot/coworking.html">
                          Coworking
                        </a>
                      </li>
                      <li class="list-item mb-1">
                        <a class="list-link" href="@@webRoot/rental.html">
                          Rental
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link" href="@@webRoot/job.html">
                          Job Listing
                        </a>
                      </li>
                    </ul>

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-primary">
                      Apps
                    </h6>

                    <!-- List -->
                    <ul class="list mb-0">
                      <li class="list-item">
                        <a class="list-link" href="@@webRoot/desktop-app.html">
                          Desktop
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link" href="@@webRoot/mobile-app.html">
                          Mobile
                        </a>
                      </li>
                    </ul>

                  </div>
                  <div class="col-6">
                    
                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-primary">
                      Web 
                    </h6>

                    <!-- List -->
                    <ul class="list mb-0">
                      <li class="list-item">
                        <a class="list-link" href="@@webRoot/index.html">
                          Basic
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link" href="@@webRoot/enterprise.html">
                          Enterprise
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link" href="@@webRoot/service.html">
                          Service
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link" href="@@webRoot/cloud.html">
                          Cloud Hosting
                        </a>
                      </li>
                    </ul>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div> <!-- / .row -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarPages">
            <div class="row no-gutters">
              <div class="col-6">
                
                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-primary">
                  Career
                </h6>

                <!-- List -->
                <ul class="list mb-5">
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/careers.html">
                      Listing
                    </a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/career-single.html">
                      Opening
                    </a>
                  </li>
                </ul>

                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-primary">
                  Company
                </h6>

                <!-- List -->
                <ul class="list mb-0">
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/about.html">
                      About
                    </a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/pricing.html">
                      Pricing
                    </a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/terms-of-service.html">
                      Terms
                    </a>
                  </li>
                </ul>               

              </div>
              <div class="col-6">
                
                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-primary">
                  Help center
                </h6>

                <!-- List -->
                <ul class="list mb-5">
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/help-center.html">
                      Overview
                    </a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/help-center-article.html">
                      Article
                    </a>
                  </li>
                </ul>

                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-primary">
                  Contact
                </h6>

                <!-- List -->
                <ul class="list mb-0">
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/contact.html">
                      Basic
                    </a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="@@webRoot/contact-alt.html">
                      Cover
                    </a>
                  </li>
                </ul>               

              </div>
            </div>
          </div> <!-- / .row -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDocumentation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documentation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDocumentation">

            <!-- Item -->
            <a class="d-flex align-items-center text-decoration-none" href="@@webRoot/docs/index.html">
                
              <!-- Icon -->
              <div class="icon icon-sm text-primary">
                @@include("../assets/img/icons/duotone-icons/General/Clipboard.svg")
              </div>
              
              <!-- Content -->
              <div class="ml-4">

                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                  Documentation
                </h6>

                <!-- Text -->
                <p class="font-size-sm text-gray-700 mb-0">
                  Customizing and building
                </p>

              </div>

            </a> <!-- / .row -->

            <!-- Divider -->
            <hr>
            
            <!-- Item -->
            <a class="d-flex align-items-center text-decoration-none" href="@@webRoot/docs/alerts.html">
                
              <!-- Icon -->
              <div class="icon icon-sm text-primary">
                @@include("../assets/img/icons/duotone-icons/Layout/Layout-4-blocks.svg")
              </div>
              
              <!-- Content -->
              <div class="ml-4">
                
                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                  Components
                </h6>

                <!-- Text -->
                <p class="font-size-sm text-gray-700 mb-0">
                  Full list of components
                </p>

              </div>

            </a> <!-- / .row -->

            <!-- Divider -->
            <hr>
            
            <!-- Item -->
            <a class="d-flex align-items-center text-decoration-none" href="@@webRoot/docs/changelog.html">
                
              <!-- Icon -->
              <div class="icon icon-sm text-primary">
                @@include("../assets/img/icons/duotone-icons/Files/File.svg")
              </div>
              
              <!-- Content -->
              <div class="ml-4">
                
                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                  Changelog
                </h6>

                <!-- Text -->
                <p class="font-size-sm text-gray-700 mb-0">
                  Keep track of changes
                </p>

              </div>
                
              <!-- Badge -->
              <span class="badge badge-pill badge-primary-soft ml-auto">
                1.0
              </span>

            </a> <!-- / .row -->

          </div>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        Buy now
      </a>

    </div>
  
  @@if(type=="boxed"){</div>}
</nav>