{% extends 'base.html.twig' %}

{% block body %}
<body>
<section class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover" style="background-image: url('https://landkit.goodthemes.co/assets/img/covers/cover-5.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">

                <!-- Heading -->
                <h1 class="display-2 font-weight-bold text-white">
                    {% block title %}{{ controller_name }}!{% endblock %}
                </h1>

                <!-- Text -->
                <p class="lead text-white-75 mb-0">
                    {% block page_description %}{% endblock %}
                </p>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
</body>
{% endblock %}
